<div layotu="row" layout-padding>
  <div class="md-title"> VfL Grafenwald e.V. </div>

  <div>
    Abteilung Fußball <br>
    Sensenfeld 96<br>
    46244 Bottrop
  </div>

  <div>
    <span style="font-weight: bold">Präsident</span><br>
    Dr. Peter Scheidgen <br>
    Vossundern 22 <br>
    46244 Bottrop<br>
    02045 / 85314
  </div>

  <div>
    <span style="font-weight: bold">Vize-Präsident</span><br>
    Ralf Scholz <br>
    Scharnhölzfeld 37<br>
    46238 Bottrop<br>
    02041 / 7657770
  </div>

  <div>
    <span style="font-weight: bold">Webmaster <br> (Gesamtverein)</span><br>
    Robert Macioszek<br>
    Gladbecker Str. 104<br>
    46236 Bottrop<br>
    02041 / 60646
  </div>
</div>

  <div>
    Vereinsregister-Nr: 14168<br>
    Vereins-Kennziffer: 300 10 51
    <br>
  </div>
</div>

<div>
  <br>
  Haftungshinweis: <br>
  Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine <br>
  Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind <br>
  ausschließlich deren Betreiber verantwortlich.<br>
</div>
